<div>
<h2>{{title}}</h2>
</div>

<div>
<p>This is the {{page_name}}.</p>
</div>

<table style="height: 160px;" border="0" width="500">

<tbody>
<tr>

	<td style="width: 500;">
	<p style="text-align: center;"><strong>Enter three movies you like:</strong></p>
	<form action="/ratings" method="GET">
	<input name="movie1" type="text" /> <br /> 
	<input name="movie2" type="text" /> <br /> 
	<input name="movie3" type="text" /> <br /> 
	<input type="submit" value="get recommedations" /></form></td>



	<td style="width: 500;" colspan="2" height="5">
	<p><img src="/static/krists-luhaers-543526-unsplash.jpg" width="500" /></p>
	<p><a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@kristsll?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Krists Luhaers"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Krists Luhaers</span></a></p>
	</td>


</tr>
</tbody>

</table>

